body{
    background-color: black;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
}
h3{
    color: white;
}
.borders{
    box-sizing: border-box;
    border: 1px solid blue;
}
.grid div{
    width: 20px;
    height: 20px;
}