body{
    background-color: black;
}
.grid{
    display: grid;
    grid-template-columns: repeat(28, 20px);
    width: 560px;
    height: 560px;
}
h3{
    color: white;
}
.borders{
    box-sizing: border-box;
    border: 1px solid blue;
}
